.idea
**/.env
**/.venv
config.yaml
__pycache__
superagi/models/__pycache__
superagi/controllers/__pycache__
**agent_dictvenv
**/__gitpycache__/
gui/node_modules
node_modules
gui/.next
.DS_Store
.DS_Store?
venv
workspace/output
workspace/input
celerybeat-schedule
../bfg-report*
superagi/tools/marketplace_tools/
superagi/tools/external_tools/
tests/unit_tests/resource_manager/test_path
/tools.json
tgwui/config/loras/0mib3.safetensors
tgwui/config/loras/3DMM_V12.safetensors
tgwui/config/loras/bj_Fault_art.safetensors
tgwui/config/loras/C4D.safetensors
tgwui/config/loras/epicrealism_pureEvolutionV4.safetensors
tgwui/config/loras/GameIconResearch_3d_Lora.safetensors
tgwui/config/loras/more_details.safetensors
tgwui/config/loras/Neno.safetensors
tgwui/config/loras/Nijicute.safetensors
tgwui/config/loras/npzw-05.safetensors
tgwui/config/loras/pepe_frog_v2.safetensors
tgwui/config/loras/rabbit.safetensors
tgwui/config/loras/small_scene_V2.safetensors
tgwui/config/loras/steampunkai.safetensors
tgwui/config/loras/western_illustration_offset.safetensors
